<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.3.1/dist/css/axentix.min.css">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
    <header>
      <nav class="navbar primary">
        <a href="#" class="navbar-brand"></a>
        <div class="navbar-menu ml-auto">
          <a class="navbar-link" href="{{path('home')}}">Catégories</a>
          <a class="navbar-link" href="{{path('cour')}}">Cours</a>
          <a class="navbar-link" href="{{path('back')}}">Back</a>
            <a class="navbar-link" href="{{path('app_register')}}">Inscription</a>
            <a class="navbar-link" href="{{path('app_login')}}">Login/Logout</a>
        </div>
      </nav>
    </header>

    <main>
      
        {% for type, messages in app.flashes %}
        {% for message in messages %}
            <p>{{type}} : {{message}}</p>
        {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </main>



    </body>
</html>
